
aside{
	width: 23.7%;
	order: 2;
	.cat,
	.top-post{
		padding: 30px 20px;
		box-sizing: border-box;
		background: #fff;
		.title{
			font-family: 'OpenSansSemibold';
			text-align: center;
			color: $borderColor;
			font-size: 0.875em;
		}
	}
	.banner,
	.top-post{
		display: block;
	}
}