<head lang="ru">
    <meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
	<!--[if lt IE 9]>
    	<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
	<![endif]-->                                                           
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <title>LemonBlog - Кулинарные рецепты в персональном блоге!</title>
</head>
<body>

<header>
	<div class="wrapper">
		<a href="/">
			<div class="logo" title="lemonblog.ru"></div>
		</a>
		<a href="#" class="menu">
			<div id="nav-icon">
				<span></span>
				<span></span>
				<span></span>
			</div> 
			<div>Меню</div>
		</a>
		<nav>
			<ul>
				<li><a href="#">Рецепты</a></li>
				<li><a href="#">О блоге</a></li>
				<li><a href="#">Контакты</a></li>
			</ul>
		</nav>
		<div class="social">
			<a href="#"><i class="fa fa-vk"></i></a>
			<a href="#"><i class="fa fa-facebook"></i></a>
			<a href="#"><i class="fa fa-instagram"></i></a>
			<a href="#"><i class="fa fa-twitter"></i></a>
			<a href="#"><i class="fa fa-google-plus"></i></a>
		</div>
	</div>
</header>